@page
@model ET.Client.Pages.Bus.CreateModel
@{
	ViewData["Title"] = "Create Bus";
}

<div class="container mt-4">
	<h1>Create Bus</h1>
	<form method="post">
		<div class="form-group p-2">
			<label for="Name">Name</label>
			<input type="text" class="form-control" id="Name" name="Name" placeholder="Enter bus name" required>
		</div>
		<div class="form-group p-2">
			<label for="Seats">Seats</label>
			<input type="number" class="form-control" id="Seats" name="Seats" placeholder="Enter number of seats" required>
		</div>
		<div class="form-group p-2">
			<label for="CurrentLocation">Current Location</label>
			<input type="text" class="form-control" id="CurrentLocation" name="CurrentLocation" placeholder="Enter current location" required>
		</div>
		<button type="submit" class="btn btn-primary m-2">Create</button>
	</form>
</div>
