@inject ET.Application.Utilities.AuthenticateUser AuthenticateUser
@using ET.Core.Enums
@{
	var auth = AuthenticateUser.CreateAuthentication();
	var jwtToken = auth.JwtToken;
	var isAuthenticated = auth.IsAuthenticated;
	var role = auth.Role;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EasyTravel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lab05.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">EasyTraveler</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<div class="navbar-collapse">
						<ul class="navbar-nav flex-grow-1">
							@if (isAuthenticated)
							{
								@if(role == UserRole.Company)
								{
									<li class="nav-item">
										<a class="nav-link text-dark" asp-area="" asp-page="/Company/Profile">Profile</a>
									</li>

									<div class="dropdown mx-2">
										<button class="btn btn-secondary dropdown-toggle bg-white border-1 border-light shadow-lg rounded-2 text-black" type="button" id="dropdownMenuButton" aria-expanded="false">
											Bus options
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<li class="nav-item">
												<a class="nav-link text-dark" asp-area="" asp-page="/Bus/Create">Create Bus</a>
											</li>
											<li class="nav-item">
												<a class="nav-link text-dark" asp-area="" asp-page="/Bus/List">Bus List</a>
											</li>
										</ul>
									</div>

									<div class="dropdown mx-2">
										<button class="btn btn-secondary dropdown-toggle bg-white border-1 border-light shadow-lg rounded-2 text-black" type="button" id="dropdownMenuButton" aria-expanded="false">
											Bus options
										</button>
										<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											<li class="nav-item">
												<a class="nav-link text-dark" asp-area="" asp-page="/Route/Create">Create Route</a>
											</li>
											<li class="nav-item">
												<a class="nav-link text-dark" asp-area="" asp-page="/Route/List">My Routes</a>
											</li>
										</ul>
									</div>

									<li class="nav-item">
										<a class="nav-link text-dark" asp-area="" asp-page="/Company/Logout">Logout</a>
									</li>
								}
								@if (role == UserRole.User)
								{
									<li class="nav-item">
										<a class="nav-link text-dark" asp-area="" asp-page="/User/Profile">Profile</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-dark" asp-area="" asp-page="/User/Logout">Logout</a>
									</li>
									@if (role == UserRole.Admin)
									{

									}
								}
							}
							else
							{
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-page="/Company/Login">Company Login</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-page="/User/Login">UserLogin</a>
								</li>
							}
						</ul>
					</div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - EasyTraveler - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		var dropdownButtons = document.querySelectorAll(".dropdown-toggle");
		var dropdownMenus = document.querySelectorAll(".dropdown-menu");

		dropdownButtons.forEach(function (dropdownButton, index) {
			dropdownButton.addEventListener("click", function (event) {
				event.stopPropagation();
				closeOtherDropdowns(index);
				dropdownMenus[index].classList.toggle("show");
			});
		});

		document.addEventListener("click", function () {
			closeAllDropdowns();
		});

		function closeOtherDropdowns(currentIndex) {
			dropdownMenus.forEach(function (dropdownMenu, index) {
				if (index !== currentIndex) {
					dropdownMenu.classList.remove("show");
				}
			});
		}

		function closeAllDropdowns() {
			dropdownMenus.forEach(function (dropdownMenu) {
				dropdownMenu.classList.remove("show");
			});
		}
	});
</script>
